.section-contact {
  .header-spacing {
    height: 112px;
  }
  h1 {
    color: #C7C7C7;
    text-align: center;
    border-bottom: 10px solid #F28B52;
    line-height: 95px;
    margin: 0 auto;
    width: 450px;
  }
  .map-responsive{
    margin: 0 auto;
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:0;
  }
  .map-responsive iframe{
    left:0;
    top:0;
    height:200px;
    width:100%;
    position:absolute;
  }

  .address {
      margin: 40px 0 20px 0;
  }

  .emailForm {

  }
}
