$top-margin: 30px;
.section-contact {
  margin: 0 150px;
  .directions {
    clear: both;
    margin-top: $top-margin;
    .address {
      margin-bottom: 20px;
      width:100%;
    }
    .map-responsive{
      overflow:hidden;
      padding-bottom:25%;
      position:relative;
      height: 300px;
      margin-bottom: 10px;
    }
    .map-responsive iframe{
      top:0;
      height:300px;
      width:100%;
      position:absolute;
      box-shadow: 3px 3px 1px #888888;
    }
  }

  .emailForm{
    padding: 0 15px;
    margin-top: $top-margin;
    a{
      display:inline-block;
    }

    .contact-page-content {

    }
    #contactPageForm {
      width: 100%;
      input, textarea{
        width: 100%;
      }
      input {
        margin-bottom: 7px;
        padding:4px;
        background-color:#DCDCDC;
        border:none !important;
      }
      .send-button {
        color: white;
        background-color: black;
        width: 75px;
        float: right;
      }
    }
    textarea {
      background-color:#DCDCDC;
      border:none !important;
      margin-bottom: 7px;
    }
  }

  .church {
    margin: 15px auto;
    width: 400px;
    a {
      color: black !important;
      font-size: 20px;
    }
    img {
      width: 75px !important;
      height: 75px !important;
      margin-left: 10px;
    }
  }

  @media (max-width: $screen-sm) {
      margin: 0 50px;
  }
  @media (max-width: $screen-xs) {
    margin: 0 10px;
  }
}
