.section-home{
  .missionStatement {
    clear: both;
    /*margin: 15px 275px 50px 275px;*/
    color: white;
    text-align: justify;
    padding: 15px;
    box-shadow: 10px 10px 5px #888888;
    background-color:#787878;
  }

  .mission-wrapper {

  }

  .homepageCarousel {
    min-width: 100%;
    max-width: 60%;
  }
}
