.section-schedule{
  margin: 0 !important;
  display: block;

  h1.section-title{
    width: 200px;
    font-size: 20px;
    color: #EDEDED;
    overflow: hidden;
    padding: 10px 0 5px 0;
  }

  .classTime {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
  }

  .time-schedule {
    height: 350px;
    background-color: #787878;
    ul {
      padding-left: 0;
      padding-top: 20px !important;
      li {

        list-style: none;
        text-align: center;
      }
    }
  }

  .calendar{
    margin: 25px 100px 0 100px;
    iframe {
      width: 100%;
    }
  }

  .scheduleItems {
    //margin-top: 20px;
    //padding: 0;
    //clear: both;
    ul {
     // margin-top: 20px;
      //padding-bottom: 10px;

    }
  }

  .learningPict {
    //margin-top: 20px;
    //padding: 0;
    float: right;
  }

  @media (max-width: $screen-sm) {
    .classTime {
      font-size: 16px;
    }
    .calendar {
      margin: 25px 5px 0 5px !important;
    }
  }
}
