.section-schedule{
  h1 {
    color: #C7C7C7;
    text-align: center;
    border-bottom: 10px solid #F28B52;
    line-height: 95px;
    margin-top: 60px;
    margin-bottom: 20px;
    }
    h3 {
      margin-top: 150px;
    }

}
