.section-teachers{
  margin: 0 50px;

  .teacherName {
    padding-top: 30px;
    text-align: center;
  }

  .teachers h1 {
    margin: 0 auto;
  }

  .nancyPhotoTitle {
     background-color: #008080;
     color: white;
     height: 150px;
  }

  .nancyProfile img {
    width: 135px;
    height: 150px;
    float: left;
  }

  .nancyProfile {
    margin-top: 20px;
    text-align: justify;
    .nancy-content {
      clear: both;
      height: 188px;
      padding: 5px 8px;
      background-color: #EDEDED;
      h4 {
        margin: 0;
        text-align: center;
      }
    }
  }

  .dayanaPhotoTitle {
    background-color: #008080;
    color: white;
    height: 150px;
  }
  .dayanaProfile img {
    float: left;
    width: 135px;
    height: 150px;
  }
  .dayanaProfile {
    margin-top: 20px;
    text-align: justify;
    .dayana-content {
      clear: both;
      height: 188px;
      padding: 5px 8px;
      background-color: #EDEDED;
      h4 {
        margin: 0;
        text-align: center;
      }
    }
  }

  @media (max-width: $screen-md) {
     .dayana-content, .nancy-content {
       height: auto !important;
     }
  }

  @media (max-width: $screen-xs) {
    margin: 0 20px 0 20px;
  }
}
