.section-tuition{
  .header-spacing {
    height: 112px;
  }
  margin: 100px 100px 0 100px;

  h1 {
    color: #C7C7C7;
    text-align: center;
    border-bottom: 10px solid #F28B52;
    line-height: 95px;
    margin: 0 auto;
    width: 450px;
  }

  h3 {
    text-align: center;
    margin: 15px 0;
  }

  .dailyMore {
    font-weight: 500;
  }

  .Rates {
    min-width: 200px;
    max-width: 600px;
    background-color: darkgrey;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #888888;
    .rates-content {
      min-width: 200px;
      max-width: 600px;
      font-size: 20px;
      padding: 5px 80px;
    }
    .rates-timing {
      padding: 0 20px 10px 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .classHours {
    font-size: 20px;
    min-width: 200px;
    max-width: 400px;
    margin: 25px auto;
    text-align: center;
  }

  .dayExplanation {
    background-color: #008080;
    color: white;
    display:none;
    font-size: 14px;
    margin-top: 5px;
  }

  .extendedSchedule {
    font-size: 20px;
    min-width: 200px;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
    p {
      margin-bottom: 10px;
    }
  }


  .extendedMore {
    margin-top: 15px;
    font-weight: 500;
  }

  .extendedExplanation {
    background-color: #008080;
    color: white;
    display:none;
    font-size: 14px;
    margin-top: 5px;
  }

  .registrationInfo {
    margin-top: 20px;
    text-align: center;
  }

  .tuitionToggleBtn {
    &.showBtn {
      display: inline-block;
    }
    &.hideBtn{
      display: none;
    }
  }
  .dailyMore {
    p {
      margin-bottom: 10px;
    }
  }


}
