$tuition-section-width: 600px;

.section-tuition{
  width: $tuition-section-width;
  margin: 0 auto;

  h3 {
    text-align: center;
    margin: 15px 0;
  }

  .dailyMore {
    font-weight: 500;
  }

  .rates {
    min-width: 200px;
    background-color: darkgrey;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #888888;
    .school-year-text{
      text-decoration: underline;
    }
    .rates-content {
      min-width: 200px;
      font-size: 18px;
      padding: 5px 80px;
      ul .setting{
        font-size:20px;
      }
    }
    .rates-timing {
      padding: 0 20px 10px 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .classHours {
    font-size: 20px;
    min-width: 200px;
    margin: 25px auto;
    text-align: center;
    padding:15px;
  }

  .explanation {
    background-color: #008080;
    color: white;
    display:none;
    font-size: 14px;
    margin-top: 5px;
    padding:15px;
  }

  .extendedSchedule {
    font-size: 20px;
    min-width: 200px;
    margin: 10px auto;
    text-align: center;
    p {
      margin-bottom: 10px;
    }
  }


  .extendedMore {
    margin-top: 15px;
    font-weight: 500;
  }


  .registrationInfo {
    margin-top: 20px;
    text-align: center;
    a {
      display: inline-block;
    }
  }

  .tuitionToggleBtn {
    &.showBtn {
      display: inline-block;
    }
    &.hideBtn{
      display: none;
    }
  }
  .dailyMore {
    p {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $screen-sm) {
    width: 90%;
    .rates-content {
      padding: 10px !important;
      font-size:15px !important;
      ul .setting{
        font-size:17px !important;
      }
    }

    .classHours, .extendedSchedule {
      font-size: 16px;
    }
  }

}
