$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//Global Styles
$main-color: green;

//Page Specific Styles
@import "contact";
@import "home";
@import "schedule";
@import "teachers";
@import "tuition";

body {
 a {
   display:block;
 }
}

.site-header{
  .navbar {
    background-color: #008080;
    color: white;
    font-size: 20px;
    margin-bottom: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
  }

  .navbar-logo {
    padding-left: 50px;
    img {
      padding-right: 10px;
      width: 70px;
      height: 50px;
    }
  }

  .navbar-header {
    padding: 10px;
  }
  .navbar-collapse {
    padding-top: 75px;
  }
  .navbar-nav {
    margin-top: -29px;
    padding: 7px;
    font-size: 15px;
    li a {
      color: #F28B52 !important;
      font-weight: 500;
    }
  }
}

.footer {
  .contact-container {
    margin-top: 20px;
  }

  .contactLinks {
    text-align: center;
    background-color:#787878;
    width: 100%;
    padding: 10px 20px 40px 20px;
    h3 {
      color: #F28B52;
      margin-bottom: 20px;
    }
    .social-links-container {
      margin: 10px auto;
    }
    ul {
      width: 100%;
      padding-left: 0;
      margin: 0 auto;
    }
    li {
      list-style: none;
      margin: 0px 25px;
      padding-right: 10px;
      text-align: center;
      display: inline-block;
    }

    .emailIcon {
      color: inherit;
      text-decoration: underline;
    }

    img {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
    }
    .email img {
      width: 40px;
      height: 40px;
    }
    .Phone img {
      width: 40px;
      height: 40px;
    }

    .church {
      margin-top: 15px;
      a {
        color: black !important;
      }
      img {
        width: 75px;
        height: 75px;
        margin-left: 10px;
      }
    }
    .contact-numbers {
      margin-right: 10px;
      margin-top: 20px;
    }

  }

}

.header-spacing {
  height: 112px;
}

h1.section-title{
  color: #C7C7C7;
  text-align: center;
  border-bottom: 10px solid #F28B52;
  margin: 0 auto;
  line-height: normal;
  padding-bottom:15px;
  width: 450px;
}

@media (max-width: $screen-sm) {
  h1.section-title{
    max-width: 90%;
  }
}

@media (max-width: $screen-xs) {
  .site-header {
    .navbar-logo {
      padding-left:5px;
    }
  }
  h1.section-title{
    width: 100%;
    font-size:20px;
  }

  h3{
    font-size: 16px;
  }
}

h1.gallery-title{
  color: #C7C7C7;
  text-align: center;
  border-bottom: 10px solid #F28B52;
  margin: 0 auto;
  line-height: normal;
  padding-bottom:15px;
  width: 450px;
}
